*

{
margin:0;
padding:0;
}
#menu ul
{
   list-style : none;
   z-index: 1000;
}
#menu ul li
{
  background-color : black;
  border: 1px solid white;
  width:  265px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  float: left;
 position:  relative;
 }
#menu ul li a
{
  text-decoration: none;
  color: white;
  display: block;
}
#menu ul li a:hover
{
 background-color: red;
}
#menu ul ul
{
position: absolute;
 display: none;
}
#menu ul li:hover > ul
{
display: block;
}

.top_cat
{
	border: 0px solid black;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
.top_cat_pro
{
	border: 0px solid red;
	width: 370px;
	height: 315px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
	transition: transform 1s;

}

.top_cat_pro:hover
{
transform: scale(1.05) ;
}

.top_cat_pro img
{
	width: 100%;
}

.checked
{
	color: orange;
}

.starr
{
	border: px solid black;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title  p
{
	text-align: center;
	font-size: 17px;
}

.btn
{
	border: px solid green;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn input
{
	height: 40px;
	width: 130px;
	border-radius: 7px;
	border: 0px;
	background-color: orange;
	font-size: 18px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
}
.btn input:hover
{
	background-color: green;
	color: white;
}

.footer
{
	height: 200px;
	width: 100%;
	background-color: black;

	display: flex;
	justify-content: space-around;
	align-itmes: center;
}

.footerb
{
	height: 180px;
	width: 300px;

	float: left;
	color: white;
	text-align: center;
}
