*

{
margin:0;
padding:0;
}
#menu ul
{
   list-style : none;
   z-index: 1000;
}
#menu ul li
{
  background-color : black;
  border: 1px solid white;
  width:  265px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  float: left;
 position:  relative;
 }
#menu ul li a
{
  text-decoration: none;
  color: white;
  display: block;
}
#menu ul li a:hover
{
 background-color: red;
}
#menu ul ul
{
position: absolute;
 display: none;
}
#menu ul li:hover > ul
{
display: block;
}

.contact
{
	width: 100%;
	height: 450px;
	border: 0px solid blue;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.contact_content
{
	width: 49%;
	height: 440px;
	border: 0px solid green;
	float: left;
}

.footer
{
	height: 200px;
	width: 100%;
	background-color: black;

	display: flex;
	justify-content: space-around;
	align-itmes: center;
}

.footerb
{
	height: 180px;
	width: 300px;

	float: left;
	color: white;
	text-align: center;
}
