<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>webside development</title>
<link rel="stylesheet" href="{% static 'css/order.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- code for nav bar -->

<div id="menu">

<ul>

      <li><a href="{%url 'home' %}">Home</a></li>
      <li><a href="{%url 'about' %}">Aboute</a></li>
      <li><a href="#">Menu</a>

<ul>
       <li><a href="{%url 'veg_thali' %}">Veg Thali</a>
       <li><a href="{%url 'Non_veg_thali' %}">Non Veg Thali</a>
       <li><a href="{%url 'chat' %}">Chaat</a>
       <li><a href="{%url 'fastfood' %}">Fast Food</a>
       <li><a href="{%url 'soop' %}">Soop</a>
       <li><a href="{%url 'pasta' %}">Pasta</a>
</ul>

</li>
      <li><a href="{%url 'order' %}">Order</a></li>
      <li><a href="{%url 'contact' %}">Contact</a></li>
</ul>

</div>

<br>
<br>
<br>
<h1 align="center">Enter Order Details</h1>
<br>



<div>
<form method="post">
<center>
<table border="0" width="60%">
<tr>
   <td width="20%">Name</td>
   <td width="40%"><input type="text" name="name" placeholder="Name"></td>
   </tr>
   <td>Emil</td>
   <td><input type="text" name="email" placeholder="Emil"></td>
   </tr>
   <td>Mobile</td>
   <td><input type="text" name="mobile" placeholder="Mobile"></td>
   </tr>
   <td>Item</td>
   <td><input type="text" name="item" placeholder="Item"></td>
   </tr>
   <td>Quantity</td>
   <td>
   <select name="quantity">
   <option>1</option>
   <option>2</option>
   <option>3</option>
   <option>4</option>
   <option>5</option>
   <option>6</option>
   <option>7</option>
   </select>
   </td>
   </tr>

     <td>Address</td>
   <td><textarea placeholder="Address" name="address"></textarea></td>
   </tr>

    <td></td>
   <td><input type="button" value="Submit"></td>
   </tr>
   </table>
   </center>

   </form>
</div>
<br>








<!-- code   for footer -->
<br><br>
<div class="footer">
    <div class="footerb">
	<b>Quick Link</b>
	   <br><br><br>
	   Home<br>
	   Abote<br>
	   Menu<br>
	   Order<br>
	   Contact<br>

	</div>

	 <div class="footerb">
	 <b>Menu<b>
	 <br><br><br>
	 Veg Thali<br>
	 Non Veg<br>
	 Fast Food<br>
	 Pizza<br>
	 Pasta<br>
	 </div>

	  <div class="footerb">
	   <b>Address<b>
	   <br><br><br>
	   Address:<br>
	   120,Latur <br>
	  <h3> Email: adarshshendage@gmail.com</h3><br>
	   Mobile: 8262090582<br>
	   Time: 9:00 AM to 6:00 PM<br>
	  </div>
	   <div class="footerb">
	   <b>Direction<b>
	     <br><br><br>
	   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3785.6788632485914!2d76.56726121345599!3d18.40746118747492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcf834562efe07f%3A0xaad9b75655e9facd!2sBus%20Stand%20No.2!5e0!3m2!1sen!2sin!4v1663351469282!5m2!1sen!2sin" width="100%" height="130" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	   </div>

</div>
<!-- code  end for footer -->

</body>
</html>
